.otp-input input {
    width: 4vw!important;
    height: 5vw!important;
    margin: auto!important;
    border: 1px solid #cccccc ;
    padding: 0!important;
}
.otp-input {
    padding: 1px;
    margin: auto!important; ;
}

.otp-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}